# Web App config
VITE_FIREBASE_API_KEY=YOUR_WEB_API_KEY_HERE
VITE_FIREBASE_AUTH_DOMAIN=bmcosting-ver-2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bmcosting-ver-2

# Dựa theo ADR-016 và firebase.json, dự án thật dùng database tên 'manufacture'
VITE_FIREBASE_DATABASE_ID=manufacture
